// Fonts
// FONTS
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&family=Julius+Sans+One&family=Roboto:wght@400&display=swap');

// Colors

// Dark Blue
$darkblue: #080E2F;
// Next Green
$nextgreen: #00313E;
// Portfolio backgrounds
$portfolios: #36395D;
// Resume Button Green
$resumebutton: #507E81;
// Skills Teal
$skillsteal: #146166;
// BOX SHADOW
$boxshadowcircles: rgba(0, 0, 0, 0.521);

// PORTRAIT MOBILE
@media only screen and (orientation: portrait) {
    * {
        margin: 0;
        scroll-behavior: smooth;
        scroll-snap-type: y mandatory;
        body {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            transition: .2s all ease-in;
            gap: 1vh;
            background-color: $darkblue;
            .container {
                // NAV BAR
                .top_home {
                    // The whole navbar section
                    position: sticky;
                    background-color: $darkblue;
                    top: 0;
                    width: 100%;
                    z-index: 98;
                    height: 15vh;
                    transition: .6s all ease-in-out;
                    .the_top_nav {
                        // display: flex;
                        // justify-content: space-between;
                        .slide_in_menu_logo {
                            // SPACE FOR SLIDE IN MENU lOGO
                            #courdevs_top_logo {
                                width: 30vw;
                                height: 30vw;
                                margin: 5vh 0 0 6vw;
                                position: fixed;
                                opacity: 0;
                            }
                            // for slide in menu
                            #courdevs_top_logo.slide_in {
                                opacity: 1;
                                transition: .3s all ease-in;
                            }
                        }
                        .the_navbar {
                            display: flex;
                            justify-content: space-between;
                            position: fixed;
                            gap: 20vw;
                            // background-color: $darkblue;
                            // top: 0;
                            // width: 100%;
                            // z-index: 98;
                            // height: 15vh;
                            // transition: 2s all ease-in-out;
                            .you {
                                // yous here
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                margin: 3.5vh 0 0 7vw;
                                opacity: 0;
                                transition: .3s all ease-out;
                                #name {
                                    color: white;
                                    font-family: 'Inter', sans-serif;
                                    font-weight: bold;
                                    font-size: 5vw;
                                    margin: 0 0 1vh 1vw;
                                }
                                #job_description {
                                    color: white;
                                    font-family: 'Inter', sans-serif;
                                    border: 1px solid white;
                                    border-radius: 5px;
                                    font-size: 3vw;
                                    padding: .8vh;
                                }
                            }
                            .you.appear {
                                opacity: 1;
                            }
                            // Hamburger Menu
                            .hamburgermobile {
                                // Burger Button
                                background-color: $darkblue;
                                border: none;
                                margin: 5vh 0vw 0 5vw;
                                #top_hamburger {
                                    position: relative;
                                    width: 11vw;
                                    height: 11vw;
                                    transition: 1s all ease-in-out;
                                }
                                // make Menu Burger dissapear (when clicked)
                                #top_hamburger.dissapear {
                                    opacity: 0;
                                    transition: .5s all ease-in-out;
                                }
                                #hamburger_close {
                                    position: absolute;
                                    width: 15vw;
                                    height: 15vw;
                                    opacity: 0;
                                }
                                #hamburger_close.appear {
                                    transition: .5s all ease-in;
                                    opacity: 1;
                                    z-index: 100;
                                }
                            }
                        }
                        .nav_scroll_contents.dissapear {
                            opacity: 0;
                            transition: 1s all ease-out;
                        }
                    }
                }
                .top_home.dissapear {
                    opacity: 0;
                }
                // HOME SECTION PORTRAIT
                #home_section_id {
                    .home_section_class {
                        height: 90vh;
                        background-color: $darkblue;
                        .home_section_content {
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            gap: 1vh;
                            margin: 7vh 0 0 0;
                            #courdevelops_logo {
                                width: 45vw;
                                height: 45vw;
                            }
                            .name {
                                font-size: 8vw;
                                color: white;
                                font-weight: bold;
                                font-family: 'Inter', sans-serif;
                                margin: 5vh 0 0 0;
                            }
                            .description {
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                font-size: 5vw;
                                font-family: 'Inter', sans-serif;
                                color: $darkblue;
                                width: 70vw;
                                height: 2vw;
                                background-color: white;
                                border-radius: 5px;
                                margin: 1vh 0 0 0;
                                padding: 3vh 1vh 3vh 1vh;
                            }
                            .motto {
                                font-size: 4vw;
                                font-family: 'Inter', sans-serif;
                                color: white;
                                text-align: center;
                                margin: 10vh 0 0 0;
                            }
                            .learn_more {
                                // width: 50vw;
                                // height: 1vw;
                                // background-color: $portfolios;
                                // border-radius: 5px;
                                // padding: 3vh 1vh 3vh 1vh;
                                margin: 9vh 0 0vh 0;
                            a {
                                // font-size: 4vw;
                                font-family: 'Inter', sans-serif;
                                font-weight: bold;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                // font-weight: bold;
                                color: white;
                                text-decoration: none;
                                width: 50vw;
                                height: .3vw;
                                background-color: $portfolios;
                                border-radius: 5px;
                                padding: 3vh 1vh 3vh 1vh;
                            }
                        }
                        }
                    }
                }
                // ABOUT SECTION
                #about_section_id {
                    .about_section_class {
                        // display: flex;
                        // flex-direction: column;
                        // justify-content: center;
                        // align-items: center;
                        // gap: 1vh;
                        height: 105vh;
                        width: 100vw;
                        // margin: 4vh 0 0 0;
                        background-color: $nextgreen;
                        .about_section_content {
                            color: white;
                            margin: 0 0 0 5vw;
                            padding: 5vh 0 0 2vw;
                            width: 70%;
                            .section_title {
                                color: white;
                                font-family: 'Inter', sans-serif;
                                font-size: 8vw;
                                font-weight: bold;
                            }
                            .first_para_about {
                                color: white;
                                font-family: 'Inter', sans-serif;
                                margin: 3vh 0 0 0;
                            }
                            .brand_name_about {
                                color: white;
                                font-family: 'Inter', sans-serif;
                                margin: 2vh 0 0 0;
                            }
                            #about_page_logo {
                                margin: 5vh 0 0 0;
                                width: 30vw;
                                height: 30vw;
                            }
                            .passion_block {
                                color: white;
                                font-family: 'Inter', sans-serif;
                                font-weight: bold;
                                margin: 3vh 0 0 0;
                                border-bottom: 2px solid $skillsteal;
                                width: 85%;
                            }
                            .user_interface {
                                color: white;
                                font-family: 'Inter', sans-serif;
                                margin: 2vh 0 0 0;
                            }
                            .gig_econ {
                                color: white;
                                font-family: 'Inter', sans-serif;
                                margin: 2vh 0 0 0;
                            }
                            .web_3 {
                                color: white;
                                font-family: 'Inter', sans-serif;
                                margin: 2vh 0 0 0;
                            }
                            .resume_button_div {
                                margin: 3vh 0 0 0vw;
                                #dload_resume {
                                    font-family: 'Inter', sans-serif;
                                    font-weight: bold;
                                    color: white;
                                    background-color: $resumebutton;
                                    background-color: $skillsteal;
                                    border-radius: 5px;
                                    width: 50vw;
                                    height: 13vw;
                                    text-decoration: none;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                }
                            }
                        }
                    }
                }
                // PORTFOLIO SECTION
                #portfolio_section_id {
                    .portfolio_section_class {
                        // display: flex;
                        // flex-direction: column;
                        // justify-content: center;
                        // align-items: center;
                        // gap: 1vh;
                        height: 100vh;
                        width: 100vw;
                        // margin: 4vh 0 0 0;
                        background-color: $darkblue;
                        .portfolio_section_content {
                            display: flex;
                            flex-direction: column;
                            color: white;
                            margin: 0 0 0 5vw;
                            padding: 5vh 0 0 2.5vw;
                            // width: 100%;
                            .portfolio_title {
                                // padding: 5vh 0 0 2vw;
                                font-family: 'Inter', sans-serif;
                                font-size: 8vw;
                                font-weight: bold;
                            }
                            .portfolio_squares {
                                margin: 6vh 8vw 0 0;
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                align-items: center;
                                gap: 5vh;
                                .portfolio_square {
                                    background-color: $portfolios;
                                    border: none;
                                    width: 85vw;
                                    height: 13vh;
                                    border-radius: 5px;
                                    display: flex;
                                    flex-direction: column;
                                    justify-content: center;
                                    align-items: center;
                                    .app {
                                        display: flex;
                                        justify-content: center;
                                        align-items: center;
                                        #skill_project {
                                            width: 65vw;
                                            margin: 0 1vw 0 0;
                                        }
                                        #create_collab {
                                            margin: 0 0 0 10vw;
                                            width: 66vw;
                                        }
                                        #msy {
                                            width: 65vw;
                                        }
                                        #workflow_app {
                                            width: 64vw;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                // SKILLS SECTION
                #skills_section_id {
                    .skills_section_class {
                        // display: flex;
                        // flex-direction: column;
                        // justify-content: center;
                        // align-items: center;
                        // gap: 1vh;
                        height: 115vh;
                        width: 100vw;
                        // margin: 4vh 0 0 0;
                        background-color: $nextgreen;
                        .skills_section_content {
                            color: white;
                            margin: 0 0 0 5vw;
                            padding: 5vh 0 0 2vw;
                            width: 70%;
                            .skills_title {
                                font-family: 'Inter', sans-serif;
                                font-size: 8vw;
                                font-weight: bold;
                            }
                            // Skills Circles Section
                            .skills_circles_section {
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                align-items: center;
                                // background-color: yellow;
                                .skills_circles_one {
                                    display: flex;
                                    // flex-direction: column;
                                    justify-content: center;
                                    align-items: center;
                                    margin: 4vh 0 0 6vh;
                                    gap: 3vw;
                                    .skill_circle {
                                        display: flex;
                                        flex-direction: column;
                                        justify-content: center;
                                        align-items: center;
                                        margin: 2vh 0 1vh 0;
                                        .skill_back {
                                            width: 25vw;
                                            height: 25vw;
                                            border: 3px solid $darkblue;
                                            background-color: $nextgreen;
                                            box-shadow: 2px 2px $boxshadowcircles;
                                            border-radius: 50%;
                                            display: flex;
                                            justify-content: center;
                                            align-items: center;
                                            .skill_front {
                                                width: 23vw;
                                                height: 23vw;
                                                border: none;
                                                background-color: $darkblue;
                                                // box-shadow: 2px 2px $boxshadowcircles;
                                                border-radius: 50%;
                                                position: absolute;
                                                display: flex;
                                                flex-direction: column;
                                                justify-content: center;
                                                align-items: center;
                                                .shield {
                                                    width: 15vw;
                                                    height: 15vw;
                                                }
                                                // HTML
                                                #html {
                                                    transition: .7s all ease-in;
                                                    position: absolute;
                                                }
                                                #html.dissapear {
                                                    opacity: 0;
                                                }
                                                #html_description {
                                                    opacity: 0;
                                                }
                                                #html_description.show {
                                                    transition: .5s all ease-in;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                // EXPERIENCE SECTION
                #experience_section_id {
                    .experience_section_class {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        gap: 1vh;
                        height: 100vh;
                        margin: 4vh 0 0 0;
                        background-color: $darkblue;
                        .experience_section_content {
                            color: white;
                        }
                    }
                }
                // BLOG SECTION
                #blog_section_id {
                    .blog_section_class {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        gap: 1vh;
                        height: 100vh;
                        width: 100vw;
                        margin: 4vh 0 0 0;
                        background-color: $nextgreen;
                        .blog_section_content {
                            color: white;
                        }
                    }
                }
                // CONTACT SECTION
                #contact_section_id {
                    .contact_section_class {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        gap: 1vh;
                        height: 100vh;
                        margin: 4vh 0 0 0;
                        background-color: $darkblue;
                        .contact_section_content {
                            color: white;
                        }
                    }
                }
            }
        }
    }
}


// LANDSCAPE MOBILE
@media only screen and (orientation: landscape) {
    * {
        margin: 0;
        scroll-behavior: smooth;
        scroll-snap-type: y mandatory;
        body {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            transition: .2s all ease-in;
            gap: 1vh;
            background-color: $darkblue;
            .container {
                // NAV MENU
                .nav_menu {
                    display: flex;
                    justify-content: space-between;
                    gap: 15vw;
                    position: sticky;
                    color: white;
                }
                // HOME SECTION LANDSCAPE
                #home_section_id {
                    .home_section_class {
                        height: 170vh;
                        background-color: $darkblue;
                        .home_section_content {
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            gap: 1vh;
                            margin: 30vh 0 0 0;
                            #courdevelops_logo {
                                width: 25vw;
                                height: 25vw;
                            }
                            .name {
                                font-size: 5vw;
                                color: white;
                                font-weight: bold;
                                font-family: 'Inter', sans-serif;
                                margin: 5vh 0 0 0;
                            }
                            .description {
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                font-size: 2.5vw;
                                font-family: 'Inter', sans-serif;
                                color: $darkblue;
                                width: 40vw;
                                height: 5vw;
                                background-color: white;
                                border-radius: 5px;
                                margin: 5vh 0 0 0;
                                padding: 3vh 1vh 3vh 1vh;
                            }
                            .motto {
                                font-size: 2vw;
                                font-family: 'Inter', sans-serif;
                                color: white;
                                text-align: center;
                                margin: 12vh 0 0 0;
                            }
                            .learn_more {
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                width: 40vw;
                                height: 4vw;
                                background-color: $portfolios;
                                border-radius: 5px;
                                padding: 3vh 1vh 3vh 1vh;
                                margin: 10vh 0 0vh 0;
                                a {
                                    font-size: 2vw;
                                    font-family: 'Inter', sans-serif;
                                    // font-weight: bold;
                                    color: white;
                                    text-decoration: none;
                                }
                            }
                        }
                    }
                }
                // ABOUT SECTION
                #about_section_id {
                    .about_section_class {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        gap: 1vh;
                        height: 100vh;
                        width: 100vw;
                        margin: 4vh 0 0 0;
                        background-color: $nextgreen;
                        .about_section_content {
                            color: white;
                        }
                    }
                }
                // PORTFOLIO SECTION
                #portfolio_section_id {
                    .portfolio_section_class {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        gap: 1vh;
                        height: 100vh;
                        margin: 4vh 0 0 0;
                        background-color: $darkblue;
                        .portfolio_section_content {
                            color: white;
                        }
                    }
                }
                // SKILLS SECTION
                #skills_section_id {
                    .skills_section_class {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        gap: 1vh;
                        height: 100vh;
                        width: 100vw;
                        margin: 4vh 0 0 0;
                        background-color: $nextgreen;
                        .skills_section_content {
                            color: white;
                        }
                    }
                }
                // EXPERIENCE SECTION
                #experience_section_id {
                    .experience_section_class {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        gap: 1vh;
                        height: 100vh;
                        margin: 4vh 0 0 0;
                        background-color: $darkblue;
                        .experience_section_content {
                            color: white;
                        }
                    }
                }
                // BLOG SECTION
                #blog_section_id {
                    .blog_section_class {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        gap: 1vh;
                        height: 100vh;
                        width: 100vw;
                        margin: 4vh 0 0 0;
                        background-color: $nextgreen;
                        .blog_section_content {
                            color: white;
                        }
                    }
                }
                // CONTACT SECTION
                #contact_section_id {
                    .contact_section_class {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        gap: 1vh;
                        height: 100vh;
                        margin: 4vh 0 0 0;
                        background-color: $darkblue;
                        .contact_section_content {
                            color: white;
                        }
                    }
                }
            }
        }
    }
}